/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
