<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penetration Testing for Smart Home IoT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header id="img">
        <img src="{{ url_for('static', filename='images/banana.png') }}" alt="Banana Logo" width="70" height="70">
        <div id="user-container">
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="User Icon" width="70" height="70">
            <button id="loginButton" onclick="location.href='/login'">Login</button>
        </div>
    </header>
    
    
    <section id="testing">
        <img id="startTestButton" src="{{ url_for('static', filename='images/banana (1).png') }}" alt="Start Pentest" width="200" height="200">
        <p id="testStatus">Please click the image to begin testing.</p>
        <h2>Welcome to Test Banana</h2>
    </section>

    <footer>
        <p>&copy; 2025 IoT Security Team</p>
    </footer>
</body>
</html>

